html{
  margin: 0px;
  padding: 0px;
}

.boxlogin{
  border-radius: 4px;
  margin: 100px auto;
  width: 350px;
  -webki-border-radius: 4px;
  -moz-border-radius: 4px;
}
input[type="submit"]{
  margin-top: 20px;
}
input[type="text"]{
  margin-top: 5px;
  margin-bottom: 9px;
}
input[type="password"]{
  margin-top: 5px;
}
label{
  font-size: 20px;
}
